#!/bin/rc
# kill all vtwin
for(p in `{ps -a | awk '/vtwin/&&!/grep/{print $2}'}) {
	echo kill > /proc/$p/note >[2]/dev/null
}
sleep 2
echo remaining `{ps -a | awk '/vtwin/&&!/grep/{print $2}' | wc -l}
