#!/bin/rc
echo === wsys 1 ===
cat /dev/wsys/1/wctl
echo === wsys 2 ===
cat /dev/wsys/2/wctl
echo === wsys 3 ===
cat /dev/wsys/3/wctl
echo === wsys 4 ===
cat /dev/wsys/4/wctl
echo === KBD LOG ===
cat /tmp/vtwin-kbd.log >[2]/dev/null
echo === END ===
