#!/bin/rc
mkdir -p /tmp/vtwin-build
cd /tmp/vtwin-build
for(f in mkfile main.c){
	hget http://10.0.2.2:8765/src/vtwin/$f > $f
}
mk all >[2=1] | tail -5
if(test -e 6.out){
	cp 6.out /amd64/bin/vtwin
	chmod +x /amd64/bin/vtwin
	echo installed:
	ls -l /amd64/bin/vtwin
}
if(! test -e 6.out){
	echo BUILD FAILED
}
