-cc1 -triple x86_64-unknown-none -emit-obj -disable-free -clear-ast-before-backend -disable-llvm-verifier -discard-value-names -main-file-name @SRCBASE@ -mrelocation-model static -mframe-pointer=all -fmath-errno -ffp-contract=on -fno-rounding-math -mconstructor-aliases -funwind-tables=2 -target-cpu x86-64 -tune-cpu generic -debugger-tuning=gdb -fdebug-compilation-dir=/Users/claw/Projects/agent9/cc9 -target-linker-version 1266.8 -fcoverage-compilation-dir=/Users/claw/Projects/agent9/cc9 -nostdinc++ -resource-dir /tmp/res_rd -isystem /tmp/sysinc/cxxv1 -isystem /tmp/sysinc/cc9 -D _LIBCPP_PROVIDES_DEFAULT_RUNE_TABLE -D _LIBCPP_HAS_CLOCK_GETTIME -std=c++23 -fdeprecated-macro -ferror-limit 19 -femulated-tls -fgnuc-version=4.2.1 -fno-implicit-modules -fskip-odr-check-in-gmf -fcxx-exceptions -fexceptions -faddrsig -fdwarf2-cfi-asm -o @OBJ@ -x c++ @SRC@ -idirafter /tmp/res -idirafter /tmp/sysinc/cc9